:root{
    --cell-size: 20px;
}

body{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 0;
   height: 100vh;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
    color:brown;
    background-color: white;
}
#gameCanvas {
    border: solid 1px black;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    height:600px;
    width: 600px;

}

h1{
    text-align: center;
}
.row{
    display: flex;
    
    
}
.square{
    width: var(--cell-size);
    height: var(--cell-size);
}

.wall{
    background-color: black;

}

.coin{
    background-color: brown;
    border-radius: 50%;
    width:  var(--cell-size);
    height: var(--cell-size);
    border: solid calc(var(--cell-size) / 3 ) white;
    box-sizing: border-box;
}

.ground{
    background-color: white;
}

.power {
    background-color: rgb(30, 217, 30);
    border-radius: 50%;
    width: var(--cell-size);
    height: var(--cell-size);
    border: solid calc(var(--cell-size) / 5 ) white;
    box-sizing: border-box;
}
.pacman{
    background-color: yellow;
    border-radius: 50%;
    border: solid calc(var(--cell-size) / 9 ) white;
    width: var(--cell-size);
    height: var(--cell-size);
}